@import url('https://fonts.cdnfonts.com/css/montserrat');
* {
    margin: 0;
    padding: 0;
    font-family: SansSerif, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 6%;
    padding-right: 6%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    margin: 30px 0;
}

.hamburger-menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

.sign-up {
    text-transform: uppercase;
    color: #000000;
    font-size: 26px;
    padding: 15px;
    background-color: #c6aeee;
    border: none;
    border-radius: 50px;
    cursor: pointer;

}

.sign-up:hover {
    color: black;
    background-color: #b480f3;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    padding: 10px;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #3d3b3b;
    font-size: 28px;
}

.links:hover {
    color: #b480f3;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1 {
    flex-basis: 40%;
    min-width: 300px;
    position: relative;
}

.col-1 h2 {
    color: #06332f;
    text-transform: uppercase;
    font-size: 150px;
    padding-bottom: 4px;
}

.col-1 h3 {
    color: #dea106;
    text-transform: uppercase;
    font-size: 86px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 20px;
}

.col-1 p {
    color: #969fbb;
    font-size: 24px;
    padding-bottom: 5px;
    line-height: 30pt;
}

.learn-more-button {
    margin-top: 90px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 26px;
    padding: 15px;
    background-color: #c6aeee;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.learn-more-button:hover {
    background-color: #b480f3;
}

.col-2 {
    position: relative;
    display: flex;
    align-items: center;

}

.main-image {
    width: 100%;
    max-width: 830px;
    height: auto;
}

.successful-registration-message {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #6090d9;
    color: white;
    padding: 15px;
    margin: 15px;
}

.register-heading {
    text-align: center;
    font-weight: bold;
}

.register-form {
    margin-top: 10px;
}

.register-label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

.register-input {
    border: 1px solid gray;
    padding: 2px;
    width: 95%;
    margin-bottom: 5px;
    height: 20px;
    border-radius: 5px;
}

.error {
    color: red;
}

main {
    max-width: 500px;
    margin: auto;
    background-color: #c6aeee;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid black;
}

.section1 {
    padding: 300px 6px;
}

.label-input {
    padding: 10px;
}

.register-button {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    padding: 8px;
    margin-left: 10px;
    background-color: #b480f3;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

@media only screen and  (max-width: 1615px) {
    .col-1 h2 {
        font-size: 130px;
    }

    .col-1 h3 {
        font-size: 78px;
    }

    .col-1 p {
        font-size: 24px;
    }

    .main-image {
        max-width: 750px;
    }
}

@media only screen and  (max-width: 1430px) {
    .col-1 h2 {
        font-size: 110px;
    }

    .col-1 h3 {
        font-size: 70px;

    }
}

@media only screen and  (max-width: 1300px) {
    .col-1 h2 {
        font-size: 90px;
    }

    .col-1 h3 {
        font-size: 50px;
    }

    .main-image {
        max-width: 560px;
    }
}

@media only screen and  (max-width: 1125px) {
    nav ul {
        width: 100%;
        background: #6090d9;
        position: absolute;
        top: 130px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hamburger-menu-icon {
        display: block;
    }

    .main-image {
        max-width: 500px;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
}

@media only screen and  (max-width: 900px) {
    .col-1 h2 {
        font-size: 80px;
    }

    .col-1 h3 {
        font-size: 48px;
    }
}

@media only screen and  (max-width: 750px) {
    .main-image {
        display: none;
    }
}
